<div class="container mx-auto p-4">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <h1>Merhaba</h1>
        <p>Ben Sena ATALAR. İlköğretim matematik öğretmeniyim ve öğrencilerimin matematikle olan ilişkilerini
          güçlendirmek için buradayım. Derslerimi interaktif ve ilgi çekici bir şekilde tasarlayarak her öğrencimin
          potansiyeline ulaşmasını sağlıyorum. Hedefim, öğrencilerimin matematikle ilgili özgüvenlerini artırmak ve
          onların başarılı olmalarını desteklemek. Başarılı bir öğrenme yolculuğu için sabırsızlanıyorum! Benim hakkımda daha detaylı
          bilgiler istersen özgeçmişime göz atabilirsin. Lütfen benimle iletişime geçmekten çekinme. Öz geçmişim için aşağıdaki indirme butonunu kullanabilirsin.
        </p>
      </div>
      <div class="col-md-6">
        <img src="../../assets/avatar.png" alt="Profile Picture" class="img-fluid rounded-circle"
             style="width: 300px; height: 300px;">
      </div>
    </div>
  </div>
</div>
