<nav class="bg-black p-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <div class="logo">
      ∫ ε π α
    </div>
    <div>
      <a routerLink="/" class="nav-link text-white px-4 py-2 hover:bg-gray-700 rounded">Ana Sayfa</a>
      <a routerLink="/about" class="nav-link text-white px-4 py-2 hover:bg-gray-700 rounded">Hakkında</a>
      <a routerLink="/courses" class="nav-link text-white px-4 py-2 hover:bg-gray-700 rounded">Dersler</a>
      <a routerLink="/contact" class="nav-link text-white px-4 py-2 hover:bg-gray-700 rounded">İletişim</a>
    </div>
  </div>
</nav>
